diffusers==0.35.1
transformers==4.56.2
einops==0.8.1
huggingface_hub==0.35.3
hf_transfer==0.1.9
opencv-python==4.10.0.84
trimesh==4.8.3
omegaconf==2.3.0
scikit-image==0.25.2
numpy==1.26.4
peft==0.17.1
jaxtyping==0.3.3
typeguard==4.4.4
diso==0.1.4
pymeshlab==2025.7
torchvision==0.22.1
matplotlib
kornia==0.8.1
timm==1.0.20
torch==2.7.1
# chutes==0.3.56
bittensor==7.4.0